<template >

  <div id="cart" style="position: fixed; right: 10%">
    <h1>cart</h1>


  </div>

</template>


<script>

export default {
  name: 'CartVue',
  components: {

  },
  data() {
    return {
      purchased_products: '',
      //current_login: current_login
    }
  },
}
</script>